* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F9FA; /* Warna abu-abu super terang dari desainmu */
  color: #333333;
}